html,
body {
  padding: 0;
  margin: 0;
  font-family: nunito_for_arco, Helvetica Neue, Helvetica, PingFang SC,
    Hiragino Sans GB, Microsoft YaHei, 微软雅黑, Arial, sans-serif;
}

* {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
}

.container {
  min-height: 100vh;
  max-width: 100%;
  padding: 50px 100px;
}

button {
  margin: 0;
  margin-right: 20px;
  outline: 0;
  padding: 10px;
  background: #0078ef;
  border: 0;
  border-radius: 4px;
  color: #fff;
  cursor: pointer;

  &:hover {
    opacity: 0.8;
  }
}

.network {
  margin-bottom: 10px;
}
.display-panel {
  padding: 30px;
  color: green;
  border: 1px dashed;
  margin-bottom: 20px;
  white-space: pre-wrap;
  word-break: break-all;
}
